<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">

  <title>Geliştiriciler | Yalnız Değilsin</title>

  <link rel="stylesheet" href="/style.css">

  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<body class="page-dev">
<header>
  <div class="logo">Yalnız Değilsin</div>

  <nav>
    <a href="/">Ana Sayfa</a>
    <a href="/belirtiler">Belirtiler</a>
    <a href="/basa-cikma">Başa Çıkma</a>
    <a href="/test">Kendini Test Et</a>
    <a href="/anonim-alan">Anonim Alan</a>
    <a href="/yardim">Yardım AI</a>
    <a href="/destek-odalari">Destek Odaları</a>
  </nav>
</header>

<main class="developers-page">

  <section class="developers-hero">

    <span>Yazılım Ekibi</span>

    <h1>Bu projeyi Geliştirenler</h1>

    <p>
      “Yalnız Değilsin” projesi, bireylerin kendilerini daha rahat ifade
      edebilmeleri ve güvenli bir dijital ortamda destek bulabilmeleri amacıyla geliştirilmiştir.
    </p>

  </section>

  <section class="developers-grid">

    <div class="developer-card">
      <img src="/images/enver.png" alt="Enver Eren Güçlü">

      <h2>Enver Eren Güçlü</h2>

      <p>Frontend Developer & UI Designer</p>

      <a href="https://instagram.com/envr_gcl" target="_blank" class="insta-btn">
  <i class="fa-brands fa-instagram"></i>
  Instagram
</a>
      
    </div>

    <div class="developer-card">
      <img src="/images/mert.png">

      <h2>Mert Satıcı</h2>

      <p>Backend Developer & Database</p>

      <a href="https://instagram.com/mrt.7x" target="_blank" class="insta-btn">
  <i class="fa-brands fa-instagram"></i>
  Instagram
</a>
      
    </div>

    <div class="developer-card">
      <img src="/images/tufan.png" alt="Tufan Kaan Şenen">

      <h2>Tufan Kaan Şenen</h2>

      <p>System Design & Testing</p>

      <a href="https://instagram.com/cpress0" target="_blank" class="insta-btn">
  <i class="fa-brands fa-instagram"></i>
  Instagram
</a>
      
    </div>

  </section>
  <section class="team-photo-section">

    <h2>Ekibimiz</h2>

    <div class="team-photo-card">
        <img src="/images/ekip.png" alt="Yalnız Değilsin Ekibi">
    </div>

</section>

</main>

</body>
</html>